.main-container {
  padding: 0.4rem 3.4rem;
  margin-left: 1.5rem;
  padding: 2rem;
  max-width: 90%;
  font-size: 1.56rem;
  line-height: 3.3rem;
}

.main-container {
  color: white;
}
.textBlock-One {
  border-bottom: 1px solid #ccc;
  margin-top: 2.4rem;
  padding: 2rem;
}

.textBlock-Two {
  margin-top: 0.5rem;
  padding: 2rem;
}

.textBlock-Two p {
  padding-top: 1rem;
}

.fade-in {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Setting up dimensions for macbook*/
@media only screen and (max-width: 1440px) {
  .main-container {
    line-height: 2.5rem;
  }

  .main-container h1 {
    font-size: 2.2rem;
  }
  .textBlock-One,
  .textBlock-Two,
  p {
    font-size: 1.4rem;
  }

  .textBlock-One {
    margin-top: 0rem;
  }
}
