html {
  background-color: #553938;
}

.main-container {
  margin-left: 1.5rem;
  padding: 2rem;
  padding-top: 0;
  max-width: 90%;
  font-size: 1.56rem;
  line-height: 3.3rem;
  position: absolute;
  margin-top: 105vh;
  top: -1%;
}

#textBlock-One {
  border-bottom: 1px solid #ccc;
  padding: 2rem;
  padding-top: 0;
}
#textBlock-Two {
  margin-top: 0.3rem;
  padding: 2rem;
}

#textBlock-Two p {
  padding-top: 1rem;
}

.invisible {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
}

.visible {
  transform: translateY(0);
  transition: 3s ease;
  opacity: 1;
}

/*Setting up dimensions for macbook*/
@media only screen and (max-width: 1440px) {
  .main-container {
    line-height: 2.5rem;
  }

  .main-container h1 {
    font-size: 2.2rem;
  }
  #textBlock-One,
  #textBlock-Two,
  p {
    font-size: 1.4rem;
  }

  #textBlock-One {
    margin-top: 0rem;
  }

  .visible{
    transition: 1.5s ease;
  }
}
