.homepage-container {
  display: block;
  align-items: center;
  justify-content: center;
}

.homepage-container .tagLine {
  margin: 50px;
  font-style: italic;
  font-size: 5.5rem;
  max-width: 80%;
  color: black;
  position: absolute;
  left: 8%;
  top: 2rem;
}

.homepage-container h3 {
  font-family: Merriweather;
  position: absolute;
  margin-top: 20px;
  margin-left: 4% !important;
  font-size: 4.2rem;
  max-width: 80%;
  top: 32%;
  left: 30%;
  color: #553938;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/*different h3 tags for this container*/
#one {
  top: 15%;
  left: 18%;
}

#two {
  font-size: 2.9rem;
  top: 25%;
  left: 18%;
}

img {
  position: absolute;
  box-sizing: border-box;
}

/*Tagline Animation Beginning*/
.fade-inTag {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}
/*Tagline Animation End*/

/*functions refer to all fade in animations*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
