.homepage-container {
  display: block;
  align-items: center;
  justify-content: center;
}

/* .text-box {
  height: 500px;
  width: 500px;
  position: absolute;
  margin-left: 60%;
  margin-top: -5%;
} */

.homepage-container .tagLine {
  margin: 50px;
  font-style: italic;
  font-size: 5.5rem;
  max-width: 80%;
  color: white;
  position: absolute;
  left: 8%;
  top: 1.5rem;
}

.homepage-container h3 {
  position: absolute;
  margin-top: 20px;
  margin-left:4% !important;
  font-size: 3.2rem;
  max-width: 80%;
  top: 35%;
  left: 47%;
  color: white;
  transform: translate(-50%, -50%);
}


img {
  position: absolute;
  box-sizing: border-box;
}

/*Tagline Animation Beginning*/
.fade-inTag {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}
/*Tagline Animation End*/

/*functions refer to all fade in animations*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
