/* TODO - Edit this code to make it cleaner on page resizing*/

.btn-container {
  display: block;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

/*submitBtn links the user to the website backend*/
.submitBtn {
  min-height: 90px;
  width: 350px;
  font-size: 40px;
  font-family: Merriweather;
  background-color: #553938;
  color: white;
  box-sizing: border-box;
  border-radius: 2rem;
  position: absolute;
  top: 40%;
  left: 21.57%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
  z-index: 102;
}

.submitBtn:hover {
  background-color: #481f26;
}

/* .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
} */
