/* TODO - Edit this code to make it cleaner on page resizing*/

.btn-container {
  display: block;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

.submitBtn {
  /*controls button height*/
  width: 22%;
  font-size: 51px;
  font-family: Merriweather;
  background-color: #553938;
  color: white;
  box-sizing: border-box;
  border-radius: 2rem;
  position: relative;
  margin-top: 15%;
  left: 13%;
  /* transform: translate(-50%, -50%); */
  /* transition: 0.4s; */
  z-index: 102;
}

.submitBtn:hover {
  background-color: #481f26;
}

/*iPhone 12 Pro*/
@media only screen and (max-width: 390px) {
  .submitBtn{
    font-size: 1.7rem;
    left: 26.2%;
    white-space: nowrap;
    width: 50%;
    margin-top: 78vh;
    border-radius: .1rem;
  }
}
