/* TODO - Edit this code to make it cleaner on page resizing*/

.btn-container {
  display: block;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

/*submitBtn links the user to DoorLoop*/
.submitBtn {
  min-height: 90px;
  width: 350px;
  font-size: 40px;
  background-color: maroon;
  color: white;
  box-sizing: border-box;
  border-radius: 2rem;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submitBtn:hover {
  background-color: #481f26;
}

.btn-container h3 {
  position: absolute;
  margin-top: 20px;
  /*!important overrides other css statements*/
  margin-left: 3% !important;
  font-size: 3.69rem;
  width: 50%;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*functions refer to all fade in animations*/

.fade-in {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

