/*TODO - smooth transitions when picture changes*/

/*Controls positioning of all content*/
.img-main-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.white-text-block {
  min-width: 100vh;
  height: 103.56vh;
  top: -2.2rem;
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.68),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  /* border: 1px solid black; */
  border-radius: 0px 4.5rem 4.5rem 0px;
  z-index: 99;
}

/*Main image settings*/
img {
  top: 1.5px;
  width: 100%;
  max-height: 102vh;
  position: absolute;
  box-sizing: border-box;
}

/*sets what is relevant to the view from img*/
.current {
  margin-top: -2%;
  width: 100%;
  height: 100vh;
  position: absolute;
  box-sizing: border-box;
  opacity: 1;
}

.picture-info {
  color: white;
  font-size: 2.8rem;
  font-family: Merriweather;
  font-style: italic;
  position: absolute;
  top: 87%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0%;
  z-index: 103;
}

.current .picture-info {
  opacity: 1;
}

.arrow {
  top: 70%;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #553938;
  color: #fff;
  width: 2.85rem;
  height: 2.85rem;
  cursor: pointer;
  z-index: 200;
  transition: 0.4s;
  display: inline-block;
  position: absolute;
}

.arrow:hover {
  background-color: maroon;
}

#next {
  margin-left: 53%;
  /* right: 44%; */
}

#prev {
  margin-left: 44%;
  /* left: 45%; */
}

/*Setting up media query for laptop screens*/
@media (min-width: 1025) and (max-width: 1440px) {
  .white-text-block {
    position: absolute;
    height: 96.5vh;
    top: -1.2rem;
    bottom: 1.5rem;
  }
}

.fade-in {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
