/*TODO - smooth transitions when picture changes*/

/*Controls positioning of all content*/
.img-main-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
}


/*Main image settings*/
img {
  width: 100%;
  height: 92vh;
  position: absolute;
  box-sizing: border-box;
}

/*sets what is relevant to the view from img*/
.current {
  margin-top: -1%;
  width: 100%;
  height: 92vh;
  position: absolute;
  box-sizing: border-box;
  opacity: 1;
  transition: all 0.5s ease;
}

.picture-info{
  color:white;
  font-size:1.8rem;
  font-style:italic;
  position: absolute;
  top: 70%;
  left: 48.4%;
  transform: translate(-50%, -50%);
  /* animation: image-move 1s ease 3s;
  animation-fill-mode: forwards; */
  opacity: 0%;
}

.current .picture-info{
  opacity:1;
}

.arrow{
  top:80%;
  border: 2px solid #fff;
  border-radius: 50%;
  background: transparent;
  color:#fff;
  width:2.5rem;
  height:2.5rem;
  position: absolute;
  cursor: pointer;
  z-index: 999;
}

.arrow:hover{
  background:#fff;
  color:#777;
}

.next{
  right:46%;
}

.prev{
  left:43.5%;
}

/* @keyframes image-move {
  0%{
  visibility: hidden;
  top:100%;
  }

  100%{
    visibility: visible;
    top:70%;
    }
} */

.fade-in {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Setting up media query for laptop screens*/
/*1440 is the max width of a 2015 mac book air*/
@media only screen and (max-width: 1440px) {
  .img-main-container .tagLine {
    font-size: 5rem;
  }

  .img-main-container h3 {
    font-size: 3.2rem;
  }

  .img {
    height: 92.5%;
  }
}
