/*TODO - smooth transitions when picture changes*/
/*TODO - After image gallery works, move the tagLine and h3 
        this is so they render before the image gallery.*/

/*Controls positioning of all content*/
.img-main-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.img-main-container .tagLine {
  margin: 50px;
  font-style: italic;
  font-size: 6.5rem;
  max-width: 80%;
  color: white;
  position: absolute;
  left: 12%;
  top: 1rem;
}

.img-main-container h3 {
  position: absolute;
  margin-top: 20px;
  margin-left: 3% !important;
  font-size: 4.2rem;
  max-width: 80%;
  top: 35%;
  left: 46%;
  color: white;
  transform: translate(-50%, -50%);
}

/*Main image settings*/
img {
  width: 100%;
  height: 92vh;
  position: absolute;
  box-sizing: border-box;
}

/*sets what is relevant to the view from img*/
.current {
  margin-top: -1%;
  width: 100%;
  height: 92vh;
  position: absolute;
  box-sizing: border-box;
  opacity: 1;
  transition: all 0.5s ease;
}

.fade-in {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Setting up media query for laptop screens*/
/*1440 is the max width of a 2015 mac book air*/
@media only screen and (max-width: 1440px) {
  .img-main-container .tagLine {
    font-size: 5rem;
  }

  .img-main-container h3 {
    font-size: 3.2rem;
  }

  .img {
    height: 92.5%;
  }
}
