/* Styling for the Popup */

.Popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.Popup-inner {
  position: fixed;
  display: block;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(110, 42, 42, 0.9),
    rgba(110, 42, 42, 0.9),
    rgba(110, 42, 42, 0.9),
    rgba(110, 42, 42, 0.9),
    rgba(110, 42, 42, 0.9)
  );
  width: 600px;
  height: 620px;
  border-radius: 50px;
  left: 35%;
  top: 8%;
}

.Popup-inner .exit-btn {
  position: relative;
  float: right;
  width: 27px;
  height: 27px;
  right: 30px;
  top: 10px;
  background-color: rgba(160, 42, 42, 1);
  color: white;
  font-size: 20px;
  border-radius: 6px;
}

.Popup-inner .exit-btn:hover {
  transition: all 1s ease;
  background-color: rgba(160, 42, 42, 0.4);
  color: black;
}
