/*this container is for every individual list element*/
.listingPage-container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  /*determines if content can wrap to multiple lines, and direction */
  /*flex-wrap and flex-direction are the same thing*/
  flex-flow: row wrap;
  height: 600px;
  width: 1850px;
}

@media only screen and (max-width: 1440px) {
  .listingPage-container {
    width: 1320px;
  }
}

.listing {
  height: 600px;
  width: 300px;
  position: relative;
}
