* {
  align-items: center;
}

/*this container is for every individual list element*/
.listingPage-container {
  display: grid;
  grid-auto-flow: column;
  position: relative;
  margin-top: 50px;
  margin-left: 38px;
}

@media only screen and (max-width: 1440px) {
  .listingPage-container {
    gap: 4rem;
  }
}

.listing {
  height: 600px;
  width: 300px;
  position: relative;
}
