/*CSS for each individual listing*/
.listing-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

#image {
  box-sizing: border-box;
  position: absolute;
  height: 500px;
  width: 500px;
  opacity: 0;
}

.current {
  width: 500px;
  height: 500px;
  opacity: 0;
}

.listing-info h2 {
  color: white;
  text-align: center;
  position: absolute;
}
