* {
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
}

h3 {
  margin-left: 10px;
  font-size: 40px;
}

body {
  font-size: 14px;
  color: black;
}

p {
  color: white;
}

.contact-container {
  width: 80%;
  margin: 110px auto;
}

.contact-box {
  background-color: white;
  display: flex;
  border-radius: 2rem;
}

.C-Left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.C-Right {
  flex-basis: 40%;
  padding: 40px;
  background-color: #553938;
  color: #fff;
}

h1 {
  margin-bottom: 11px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/*How much each group per row can move relative to each other*/
.input-row .input-group {
  flex-basis: 45%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}

label {
  font-size: 16px;
  margin-bottom: 6px;
  display: block;
}

.contact-container button {
  background-color: #474b4f;
  color: white;
  width: 100px;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 30px;
  margin-top: 10px;
  font-size: 15.5px;
}

.contact-container button:hover {
  background-color: grey;
}

.C-Right h3 {
  font-weight: 700;
  margin-bottom: 30px;
}

tr td:first-child {
  padding-right: 20px;
}

tr td {
  font-size: 17.3px;
  padding: 20px;
}

.fade-in {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

/*functions refer to all fade in animations*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
